// Colors

$colors: (
  cyn: (
    100: rgb(205, 227, 250),
    200: rgb(188, 217, 248),
    300: rgb(154, 198, 245),
    400: rgb(51, 125, 153),
    500: rgb(26, 109, 140),
  ),
  org: (
    400: rgb(235, 161, 134),
    500: rgb(251, 160, 135),
  ),
  rd: (
    100: rgb(253, 217, 223),
    400: rgb(244, 63, 94),
  ),
  neutral: (
    100: rgb(255, 255, 255),
    200: rgb(253, 253, 253),
    300: rgb(242, 242, 242),
    400: rgb(232, 223, 223),
    500: rgb(115, 115, 115),
    600: rgb(26, 26, 26),
    700: rgb(0, 0, 0),
  ),
);
