// Colors

$colors: (
  cyn: (
    300: rgb(127, 225, 225),
    400: rgb(75, 190, 188),
    500: rgb(42, 178, 175),
  ),
  grn: (
    400: rgb(192, 223, 52),
  ),
  neutral: (
    100: rgb(255, 255, 255),
    200: rgb(253, 253, 253),
    300: rgb(242, 242, 242),
    400: rgb(232, 223, 223),
    500: rgb(122, 122, 122),
    600: hsl(0, 0%, 10%),
    700: rgb(0, 0, 0),
  ),
);
