// fonts

$fonts: (
  regular: 'jetbrainsmono-regular',
  light: 'jetbrainsmono-regular',
  bold: 'jetbrainsmono-bold',
  extra-bold: 'jetbrainsmono-extrabold',
);

// shadows
$shadows: (
  dark-bottom: 0 2rem 6rem rgba(0, 0, 0, 0.3),
  light-bottom: 0 2rem 5rem rgba(0, 0, 0, 0.06),
  mini-light-bottom: 0 1rem 3.5rem rgba(0, 0, 0, 0.06),
  dark-top: 2rem 0 6rem rgba(0, 0, 0, 0.3),
  light-top: 2rem 0 5rem rgba(0, 0, 0, 0.06),
  mini-light-top: 2rem 0 4rem rgba(0, 0, 0, 0.06),
);
